page-ethereum {

    ion-grid {
        margin-top: 10vh;
    }

    ion-img {
        background: transparent;
        width: 100px;
        height: 100px;
    }

    h1 {
        color: rgb(207, 135, 0);
    }
}
